<div class="row">
  <div class="col-6">
    <h2>Fresh Burgers:</h2>
    <ul>
      {{#each burger}}
        {{#unless devoured}}
          <li>
            {{burger_name}}
            <button class="devourBtn" data-id="{{id}}">Devour It!</button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-6">
    <h2>Burgers in YO Belly</h2>
    <ul>
      {{#each burger}}
        {{#if devoured}}
          <li>
            {{burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
<br>
<hr>
<br>
<h3>Order a Burger</h3>
<form class="create-burger">
  <div class="form-group">
    <label for="bu">Name Da Burger</label>
    <input type="text" id="bu" name="inputName">
  </div>
    <button type="submit">Get it Now</button>
</form>
